{% extends "clustersizer/basesite.html" %}
{% load staticfiles %}

{% block extrahead %}
<style>
img {
	width:100px;
	border-style:solid;
	border-color:white;
	/*margin:5px;*/
	border-width:1px;
	margin-top:5px;
}
img.active {
	border-color:#888;
}
</style>


<script>
$(document).ready(function(){
	function updateCount(){
		var counter = $('img.active').length
		$('.counter').text(counter);
		if (counter>0){
			$('button').attr('disabled',false);
		} else{
			$('button').attr('disabled','disabled');
		}
	}

	$('img').click(function(){
		$(this).toggleClass('active');
		updateCount();
	});

	$('#selectall').click(function(){
		$('img').addClass('active');
		updateCount();
	})

	$('#deselectall').click(function(){
		$('img').removeClass('active');
		updateCount();
	})

	$('form').submit(function(){
		var output = []
		$('img.active').each(function(){
			output.push($(this).attr('diam'));
		});
		$('#diamvals').val(output.toString());
	})

})
</script>

{% endblock %}

{% block content %}
<div class='container'>
<h1> Review clusters </h1>
<p style='text-align:center'> <span class='counter'>0</span> clusters selected </p>
<div class='row'>

<form action="{% url 'clustersizer:results' %}" method="post" class=text-center>
{% csrf_token %}

<!-- <input type="submit" value="Get results" /> -->
<p><a id='selectall' href='#'>Select all</a> / <a id='deselectall' href='#'>deselect all</a><p>
<button type="submit" class="btn btn-default" disabled='disabled'>Get results</button>



<input id='diamvals' type="hidden" name="mmts" value=''/>
</form>

{% for cluster in clusters %}
<img src="data:image/png;base64,{{cluster.data}}" diam="{{cluster.diameter}}"/>
{% endfor %}

</div>
</div>
{% endblock %}